
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583139185511105137.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583139185511105137.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-583139185511105137.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583139185511105137.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583139185511105137.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583139185511105137.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-583139185511105137.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583139185511105137.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583139185511105137.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583139185511105137.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583139185511105137.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-583139185511105137.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583139185511105137.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-583139185511105137.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583139185511105137.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583139185511105137.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-583139185511105137.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583139185511105137.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-583139185511105137.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583139185511105137.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583139185511105137.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-583139185511105137.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583139185511105137.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-583139185511105137.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583139185511105137.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-583139185511105137.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583139185511105137.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-583139185511105137.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583139185511105137.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583139185511105137.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583139185511105137.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583139185511105137.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583139185511105137.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583139185511105137.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583139185511105137.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-583139185511105137.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583139185511105137.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583139185511105137.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583139185511105137.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583139185511105137.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-583139185511105137.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583139185511105137.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583139185511105137.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583139185511105137.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583139185511105137.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583139185511105137.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583139185511105137.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583139185511105137.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-583139185511105137.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583139185511105137.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-583139185511105137.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583139185511105137.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-583139185511105137.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-583139185511105137.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583139185511105137.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583139185511105137.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-583139185511105137.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583139185511105137.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-583139185511105137.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-583139185511105137.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-583139185511105137.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-583139185511105137.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-583139185511105137.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583139185511105137.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583139185511105137.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-583139185511105137.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583139185511105137.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-583139185511105137.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-583139185511105137.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-583139185511105137.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-583139185511105137 .\!gp-pointer-events-none{pointer-events:none!important}.gps-583139185511105137 .gp-relative{position:relative}.gps-583139185511105137 .gp-sticky{position:sticky}.gps-583139185511105137 .gp-z-1{z-index:1}.gps-583139185511105137 .\!gp-m-0{margin:0!important}.gps-583139185511105137 .gp-flex{display:flex}.gps-583139185511105137 .gp-inline-flex{display:inline-flex}.gps-583139185511105137 .\!gp-hidden{display:none!important}.gps-583139185511105137 .gp-hidden{display:none}.gps-583139185511105137 .gp-max-w-full{max-width:100%}.gps-583139185511105137 .gp-shrink-0{flex-shrink:0}.gps-583139185511105137 .gp-flex-col{flex-direction:column}.gps-583139185511105137 .gp-items-center{align-items:center}.gps-583139185511105137 .gp-justify-center{justify-content:center}.gps-583139185511105137 .gp-text-center{text-align:center}.gps-583139185511105137 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-583139185511105137 .gp-no-underline{text-decoration-line:none}.gps-583139185511105137 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583139185511105137 .gp-duration-200{transition-duration:.2s}.gps-583139185511105137 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-583139185511105137 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-583139185511105137 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-583139185511105137 .tablet\:\!gp-hidden{display:none!important}.gps-583139185511105137 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-583139185511105137 .mobile\:\!gp-hidden{display:none!important}.gps-583139185511105137 .mobile\:gp-hidden{display:none}}.gps-583139185511105137 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-583139185511105137 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-583139185511105137 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-583139185511105137 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-583139185511105137 .\[\&_gp-button_button\]\:\!gp-pointer-events-auto gp-button button{pointer-events:auto!important}</style>
    
    
    
    <gp-sticky
    data-id="gChDh-UeD8"
      gp-data='{"uid":"gChDh-UeD8","setting":{"display":{"desktop":"always","tablet":"always","mobile":"always"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gChDh-UeD8"
      data-id="gChDh-UeD8"
      class="sticky-wrapper !gp-pointer-events-none [&_gp-button_button]:!gp-pointer-events-auto gChDh-UeD8 undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:96%;--w-tablet:100%;--w-mobile:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:block;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:block;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:block;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gutnI2y0IF gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#scroll-to-top","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--ta:right" >
        <style>[data-id="gxPTS45b8N"].gp-button-base::before, [data-id="gxPTS45b8N-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
  
    }
  
      
  [data-id="gxPTS45b8N"]:hover::before, [data-id="gxPTS45b8N-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#scroll-to-top
            target=_self
          ></a>
        <a
          data-id="gxPTS45b8N" dataId="gxPTS45b8N" data-state="idle" aria-label
          
          href="#scroll-to-top" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:12px;--pr:12px;--pt:12px;--pb:12px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#000000;--bg:#000000;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.6px;--size:24px;--size-tablet:14px;--size-mobile:14px;--lh:140%;--lh-tablet:140%;--lh-mobile:140%"
          class="gxPTS45b8N gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.6px;--size:24px;--size-tablet:14px;--size-mobile:14px;--lh:140%;--lh-tablet:140%;--lh-mobile:140%;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550824243560">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,143.51a12,12,0,0,1-17,17L140,109V224a12,12,0,0,1-24,0V109L64.49,160.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0ZM216,28H40a12,12,0,0,0,0,24H216a12,12,0,0,0,0-24Z" /></svg>
    </span>
  
          
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-583139185511105137 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ygyz11-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583139169220428440&sectionId=583139185511105137)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  