
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583240360260534936.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583240360260534936.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583240360260534936.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583240360260534936.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583240360260534936.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583240360260534936.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583240360260534936.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583240360260534936.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583240360260534936.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583240360260534936.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583240360260534936.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583240360260534936.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583240360260534936.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583240360260534936.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583240360260534936.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583240360260534936.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583240360260534936.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583240360260534936.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583240360260534936.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583240360260534936.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583240360260534936.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583240360260534936.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583240360260534936.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583240360260534936.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583240360260534936.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583240360260534936.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583240360260534936.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583240360260534936.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583240360260534936.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583240360260534936.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583240360260534936.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583240360260534936.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583240360260534936.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583240360260534936.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583240360260534936.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-583240360260534936.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583240360260534936.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-583240360260534936.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583240360260534936.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583240360260534936.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583240360260534936.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583240360260534936.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583240360260534936.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583240360260534936.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583240360260534936.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583240360260534936.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583240360260534936.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-583240360260534936.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583240360260534936.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583240360260534936 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-583240360260534936 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-583240360260534936 .gp-relative{position:relative}.gps-583240360260534936 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583240360260534936 .gp-mb-0{margin-bottom:0}.gps-583240360260534936 .gp-flex{display:flex}.gps-583240360260534936 .gp-grid{display:grid}.gps-583240360260534936 .\!gp-hidden{display:none!important}.gps-583240360260534936 .gp-hidden{display:none}.gps-583240360260534936 .gp-max-w-full{max-width:100%}.gps-583240360260534936 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583240360260534936 .gp-flex-col{flex-direction:column}.gps-583240360260534936 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583240360260534936 .gp-duration-200{transition-duration:.2s}.gps-583240360260534936 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-583240360260534936 .tablet\:\!gp-hidden{display:none!important}.gps-583240360260534936 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-583240360260534936 .mobile\:\!gp-hidden{display:none!important}.gps-583240360260534936 .mobile\:gp-hidden{display:none}}.gps-583240360260534936 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gEsv4KQI9K"}' data-id="gEsv4KQI9K" id="gEsv4KQI9K" data-same-height-subgrid-container class="gEsv4KQI9K gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9rRqDSXkA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glvFgrn2yi"
        class="glvFgrn2yi"
        style="--ta:center;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172152747"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-g-subheading-3  gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--weight:bold;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglvFgrn2yi_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZz4a6fUDR"
        class="gZz4a6fUDR"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172152749"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZz4a6fUDR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnsBBDPv91"
        class="gnsBBDPv91"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172152750"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnsBBDPv91_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-583240360260534936 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ygyz11-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583139169220428440&sectionId=583240360260534936)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gglvFgrn2yi_text","label":"gglvFgrn2yi_text","default":"<strong>Un choix économique, écologique… et tellement plus confortable</strong>"},{"type":"html","id":"ggZz4a6fUDR_text","label":"ggZz4a6fUDR_text","default":"<p>Chaque année, une femme dépense en moyenne <span style=\"color:#F20000;\"><strong>500 à 700 €</strong> </span>en protections jetables… pour un confort limité et des déchets qui s’accumulent.</p><p>&nbsp;</p><p>C’est pour mettre fin à ce cercle vicieux que <strong>VEINA</strong> a été créée : une culotte protectrice, discrète et élégante, qui dure des années.</p>"},{"type":"html","id":"ggnsBBDPv91_text","label":"ggnsBBDPv91_text","default":"<p>&nbsp;</p><p><strong>Un choix intelligent :</strong><br><strong>💶 Des centaines d’euros économisés chaque année</strong><br><strong>♻️ Réutilisable, lavable et respectueuse de l’environnement</strong><br><strong>💖 Féminine, douce et confortable au quotidien</strong></p><p><strong>👉 Lot de 5 culottes VEINA : seulement 59 € au lieu de 108 €</strong></p><p>&nbsp;</p><p>Un seul achat. Des années de sérénité. Avec VEINA, vous gagnez en liberté, en confort et en confiance.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  